<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Mahasiswa</title>
</head>
<body>
    <h2>Welcome Mahasiswa</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem dicta deserunt, vitae odit accusamus est accusantium maiores molestiae rerum quos blanditiis repellendus reiciendis minus fugit ratione eaque sunt quae animi!</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa asperiores ullam saepe tenetur ducimus hic, perferendis sapiente, voluptates dicta inventore corrupti laboriosam magnam sed exercitationem nemo eveniet repudiandae aspernatur nostrum.</p>
</body>
</html>